@import './styles/variables';

.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid $quali-blue;
  box-shadow: 0 1px 0 0 $quali-blue;
}

.input-field input[type]:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label {
  color: $quali-blue;
}

::selection {
  color: white;
  background: $quali-blue;
}
