.user-list {
  margin-left: 40px;
  min-width: 700px;

  @media only screen and (max-width: 1020px) {
    min-width: 600px;
  }

  @media only screen and (max-width: 600px) {
    margin: 0;
  }
}

.action-buttons {
  margin: 3px;
}

.btn-floating i {
  font-size: 1.2em;
}
